@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad Request Error</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        hgroup {
            text-align: center;
        }
    </style>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Bad Request Error</h1>
        <h2 style="color:red">The request could not be understood or was missing required parameters.</h2>
    </hgroup>
</body>
</html>
